#endGameContainer
{
    color: aliceblue;
    display:flex;
    margin-block: 5%;
    flex-direction: column;
    align-items: center;
}

ul
{
    margin: 0;
    padding: 0;
}

#printedComponent h3
{
    margin-block: 10px;
}

#printedComponent h3:last-of-type
{
    margin-block-start: 30px;
}

.scoreInfo
{
    display: flex;
    min-width: 175px;
    flex-direction: column;
}

.scoreInfo h4
{
    margin-block: 5px;
}

.score,
.copyGroup,
#printedComponent
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyGroup .MuiButton-root
{
    max-height: 50px;
}