#gameContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

div#answerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MuiButton-root#hint {
    margin-inline: auto;
    margin-bottom: 10px;
    width: 5%;
}

#noteContainer, h5 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.MuiButton-root
{
  max-width: fit-content;
}

#resultButton
{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#roundStartContainer {
  height: 100px;
  display: flex;
  justify-content: center;
}

#tutorialOverlayBG {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2;
}

#tutorialOverlayBox {
  position: fixed;
  top: 10%;
  left: 30%;
  right: 30%;
  bottom: 10%;
  margin:auto;
  text-align: center;
  vertical-align: middle;
  background-color: darkgray;
  padding: 2%;
}

#tutorialExit.MuiButton-text
{
  color: black !important;
  position:absolute;
  top:0;
  right: 0;
}

button#tutorialExit.MuiButton-text:hover
{
  background-color: lightgray !important;
}

.tutorialText {
  text-align: left;
}

button.playnote {
  position: absolute;
  top: 0;
  right: 0;
}

.notes,
.noteButton {
  width: 80px;
  height: 80px;
}

.noteButton {
  position: relative;
  background-color: #e1ebf5;
}

.notes {
  float: left
}

.placement  .notes {
  background-color: grey;
  margin: 10px;
}

div.noteButton.A_flat {
  background-color: #f387dc;
}
div.noteButton.A {
  background-color: #3dabb8;
}
div.noteButton.B_flat {
  background-color: #da7313;
}
div.noteButton.B {
  background-color: #c72020;
}
div.noteButton.C {
  background-color: #dee602;
}
div.noteButton.D_flat {
  background-color: #a3c4f3;
}
div.noteButton.D {
  background-color: #29f569;
}
div.noteButton.E_flat {
  background-color: #6e57d2;
}
div.noteButton.E {
  background-color: #f66d67;
}
div.noteButton.F {
  background-color: #b594b6;
}
div.noteButton.G_flat {
  background-color: #4b93fe;
}
div.noteButton.G {
  background-color: #ffcfd2;
}

div.noteButton.selected
{
  opacity: 70% !important;
  border: 3px solid black;
}

.button{
  height: 30px;
}

.placement .notes#red  {
  background-color: red !important;
}
.placement .notes#yellow {
  background-color: yellow !important;
}
.placement .notes#green {
  background-color: green !important;
}